html,
body  {
  min-width:  1200px;
  min-height:  2500px;
}

body	  {
  margin:  0;
  padding:  0;
  font-weight:  normal;
  font-size:  16px;
  font-family:  "Roboto",  "Arial",  sans-serif;
  color:  #283136;
  line-height:  24px;
  background-color:  #ffffff;
}


a  {
  text-decoration:  none;
}

.wrapper  {
  width:  1160px;
  margin: 0 auto;
  padding:  0  20px;
}
.page-header  {
  background-color:  #eeeeee;
  color:  #000000;
  padding-top:  50px;
}
}

.page-header-logo  {
  width:  160px;
  height:  65px;
  align-self:  flex-end;
}

.page-header  a  {
  color:  #000000;
  text-transform:  uppercase;
}

.page-header  a:hover  {
  color:  #fb565a;
}

.page-header  a:focus  {
  color:  #000000;
  opacity:  0.3;
}

.page-header  a.active{
  border-bottom:  2px  solid  #fb565a;
}

.main-menu  {
  font-size:  16px;
  line-height:  30px;
  display:  flex;
  flex-direction:  row;
  justify-content: space-between;
}

.basket  {
  width:  120px;
}

.title,
.list-title,
.catalog-title {
  font-weight:  bold;
  color:  #000000;
}

.site-navigation  {
  list-style:  none;
  margin:  0;
  padding:  0;
  width:  440px;
  display:  flex;
}

.title  {
  font-size:  55px;
  line-height:  55px;
}

.sort-title  {
  font-size:  18px;
  line-height:  18px;
  text-transform:  uppercase;
  width:  140px;
  height:  30px;
  margin-right:  auto;
}

.catalog-title  {
  font-size:  18px;
  line-height:  30px;
}

.page-title  {
  margin:  0;
  padding:  0;
}

.slider  {
  background-color:  #eeeeee;
}

.slider  b  {
  font-weight:  bold;
  font-size:  55px;
  line-height:  55px;
}

.promo-block-1  {
  background-image:  url("../img/slide1.png");
  background-repeat:  no-repeat;
  background-position:  top  right;
}

.promo-block-2  {
  background-image:  url("../img/slide2.png");
  background-repeat:  no-repeat;
  background-position:  top  right;
}

.promo-block-3  {
  background-image:  url("../img/slide3.png");
  background-repeat:  no-repeat;
  background-position:  top  right;
}

.promo{
  padding-left:  20px;
  min-height:  430px;
}

.promo-1  {
  width:  380px;
}

.promo-2  {
  width:  520px;
}

.promo-3  {
  width:  420px;
}

.promo a  {
  color:  #ffffff;
  background-color:  #fb565a;
  
}

.promo  a:hover  {
  background-color:  #e74246;
}

.promo  a:focus  {
  background-color:  #d7373b;
}

.services  {
  padding-top:  80px;
}
.service-title  {
  font-size:  24px;
  line-height:  30px;
  text-transform:  uppercase;
}

.services-wrapper  {
  width:  1100px;
}
.services-list  {
  list-style:  none;
  display:  flex;
  justify-content:  space-between;
  margin:  0;
  padding:  0;
}

.service-item  {
  width:  300px;
  min-height:  180px;
}

.service-item  p  {
  margin-bottom:  36px;
  margin-top:  26px;
  margin-bottom:  36px;
  width:  245px;
}

.service-item a  {
  color:  #ffffff;
}

.sites  a{
  background-color:  #fb565a;
}

.sites  a:hover  {
  background-color:  #e74246;
}

.sites  a:focus  {
  background-color:  #d7373b;
}

.apps  a{
  background-color:  #00ca74;
}

.apps  a:hover  {
  background-color:  #00bc6c;
}

.apps  a:focus  {
  background-color:  #00aa62;
}

.presentations  a  {
  background-color:  #efc849;
}

.presentations  a:hover  {
  background-color:  #eab534;
}

.presentations  a:focus  {
  background-color:  #e5a722;
}

.about-us  {
  display:  flex;
  justify-content:  space-between;
}

.about-us-info {
  width:  660px;
}

.about-us-numbers,
.about-us-info  {
  min-height:  540px;
}

.about-us-numbers  {
  width:  360px;
}
.about-us  b  {
  font-size:  45px;
  line-height:  45px;
}

.about-us-title  {
  text-transform:  uppercase;
}

.about-us  th  {
  font-size:  45px;
  line-height:  47px;
}

.about-us  td  {
  font-size:  16px;
  line-height:  18px;
}

.clients-flex  {
  display:  flex;
  justify-content:  space-around;
}

.clients-link  {
  opacity:  0.2;
}

.clients-link:hover  {
  opacity:  1;
}

.clients-link:focus  {
  opacity:  0.1;
}

.clients-link  {
  width:  300px;
  min-height:   180px;
  display:  flex;
  flex-direction:  column;
  justify-content:  center;
}

.clients  img {
  display: block;
  margin: 0 auto;
}

.clients-link:nth-child(4n + 1),
.clients-link:nth-child(4n + 4)  {
  width: 280px;
}

.clients-link:nth-child(4n + 1)  img  {
  transform: translateX(-20px);
}

.clients-link:nth-child(4n + 4) img  {
  transform: translateX(20px); 
}

.address  b  {
  font-size:  18px;
  line-height:  30px;
}

.address  p  {
  font-size:  16px;
  line-height:  18px;
}

.address  a  {
  color:  #ffffff;
  background-color:  #fb565a;
}

.map  {
  width:  100%;
  height:  auto;
}

.write-us  fieldset  {
  border:  none;
}
.write-us  legend  {
  font-size:  45px;
  line-height:  45px;
}

.write-us label,
.write-us input[type="text"],
.write-us  textarea  {
  font-size:  16px;
  line-height:  18px;
}

.write-us input:hover  {
  border-color:  #b4b9bb;
}

.write-us input:focus  {
  border-color:  #000000;
  outline:  0;
  color:  #444444;
}

.write-us  input:invalid  {
  border-color:  #e74246;
  color:  #e74246;
}

.write-us  button  {
  color:  #ffffff;
  background-color:  #fb565a;
  border:  0;
}

.share-wrapper  {
  display:  flex;
  justify-content:  space-between;
}

.share-list  {
  list-style:  none;
}

.share-list  a  {
  background-color:  #e1e1e1;
}

.share-list  a:hover  {
  background-color:  #e74246;
}

.share-list  a:focus  {
  background-color:  #d7373b;
}
.share  b  {
  font-size:  36px;
  line-height:  36px;
}

.share  p  {
  font-size:  16px;
  line-height:  22px;
}

.filter-list,
.sort-list,
.images-list  {
  margin:  0;
  padding:  0;
}

.filters  fieldset  {
  border:  none;
}
  
.filters  input[type="range"]  {
  background-color:  #eeeeee;
}

.filters  input[type="text"]  {
  background-color:  #eeeeee;
}

.filters-list  {
  list-style:  none;
}
.filter-flex  {
  display:  flex;
  justify-content:  space-between;
}

.filters  {
  width:  260px;
}

.filters  legend  {
  font-size:  18px;
  line-height:  30px;
  text-transform:  uppercase;
  font-weight:  bold;
}

.filter-input+label  {
  font-size:  16px;
  line-height:  20px;
  color:  #283136;
}

.filter-input:hover+label  {
  color:  #000000;
}
.filter-button  {
  background-color:  #eeeeee;
  border:  0;
}

.filter-button:hover  {
  background-color:  #dfdfdf;
}

.filter-button:focus  {
  background-color:  d5d5d5;
  opacity:  0.3;
  outline:  none;
}

.main-gallery  .list-title  {
  font-size:  18px;
  line-height:  18px;
  text-transform:  uppercase;
}

.main-gallery  ul  {
  list-style:  none;
}

.main-gallery  {
  width:  760px;
}

.sort{
  color:  #000000;
  font-size:  14px;
  line-height:  18px;
  text-transform:  uppercase;
  opacity:  0.3;
}

a:hover.sort  {
  opacity:  0.6;
}

.sort-block  a.active,
a:focus.sort  {
  opacity:  1;
}

.images-title  {
  font-size:  18px;
  line-height:  30px;
  text-transform:  uppercase;
}

.images  p  {
  font-size:  16px;
  line-height:  18px;
}
.images  button  {
  color:  #ffffff;
  background-color:  #fb565a;
  border:  0;
}

.images  button:hover  {
  background-color:  #e74246;
}

.images  button:focus  {
  background-color:  #d7373b;
  outline:  none;
}

.sort-block  {
  display:  flex;
}

.sort-list  {
  width:  280px;
}

.images-list  {
  display:  flex;
  flex-wrap:  wrap;
  justify-content:  space-between;
}

.images-list  li  {
  width:  360px;
  height:  576px;
  margin-bottom: 30px;
}

.images{
  padding-bottom:  60px;
}
.page-link  {
  color:  #000000;
  background-color:  #eeeeee;
  font-size:  16px;
  line-height:  18px;
}

.page-link.active  {
  background-color:  #ffffff;
  border:  1px  solid  #dbdbdb;
}

.page-link.next  {
  text-transform:  uppercase;
}

.info-title  {
position:  absolute;
}

.clients-link {
    width: 300px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.clients  img {
    display: block;
    margin: 0 auto;
}

.clients-link:nth-child(4n + 1),
.clients-link:nth-child(4n + 4) {
    width: 280px;
}

.clients-link:nth-child(4n + 1) img {
    transform: translateX(-20px); 
}

.clients-link:nth-child(4n + 4) img {
    transform: translateX(20px); 
}


