html,
body {
  min-width: 1200px;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;
  line-height: 24px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 16px 60px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.page-header {
  background-color: #eeeeee;
  color: #000000;
  padding-top: 50px;
}

.page-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.page-header-logo:hover,
.page-header-logo:focus {
  opacity: 0.8;
}

.page-header-logo:active {
  opacity: 0.3;
}

.page-header a {
  color: #000000;
  text-transform: uppercase;
}

.page-header a:hover,
.page-header a:focus {
  color: #fb565a;
}

.page-header a:active {
  color: #000000;
  opacity: 0.3;
}

.page-header a.active {
  border-bottom: 2px solid #fb565a;
}

.main-menu {
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75px;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  font-weight: 500;
  margin-left: 240px;
}

.basket-link {
  padding-left: 43px;
  position: relative;
  vertical-align: middle;
}

.basket-link::before {
  content: "";
  width: 15px;
  height: 19px;
  position: absolute;
  top: 0;
  left: 2px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.list-title,
.catalog-title {
  font-weight: bold;
  color: #000000;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-navigation a {
  display: block;
}

.title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  padding-bottom: 110px;
  margin-top: 78px;
  margin-bottom: 0;
}

.sort-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  width: 140px;
  height: 32px;
  margin-right: auto;
}

.catalog-title {
  font-size: 18px;
  line-height: 30px;
}

.page-title {
  margin: 0;
  padding: 0;
}

.slider {
  background-color: #eeeeee;
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
.slider-controls i::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;
  background: #ffffff;
}

.link-button {
  display: block;
  width: 240px;
  padding: 16px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.link-button:hover,
.link-button:focus {
  background-color: #e74246;
}

.link-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.services {
  padding: 80px 0;
  border-bottom: 2px solid #eeeeee;
}

.service-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 17px;
}

.services-wrapper {
  width: 1100px;
}

.services-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 300px;
  min-height: 180px;
}

.service-item p {
  margin-top: 15px;
  margin-bottom: 33px;
  width: 250px;
  font-size: 16px;
  line-height: 24px;
}

.service-item a {
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  padding: 16px 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
}

.sites a {
  background-color: #fb565a;
}

.sites a:hover,
.sites a:focus {
  background-color: #e74246;
}

.sites a:active {
  background-color: #d7373b;
  box-shadow: 0 3px #c13135 inset;
}

.apps a {
  background-color: #00ca74;
}

.apps a:hover,
.apps a:focus {
  background-color: #00bc6c;
}

.apps a:active {
  background-color: #00aa62;
  box-shadow: 0 3px #009958 inset;
}

.presentations a {
  background-color: #efc849;
}

.presentations a:hover,
.presentations a:focus {
  background-color: #eab534;
}

.presentations a:active {
  background-color: #e5a722;
  box-shadow: 0 3px #ce961f inset;
}

.services-button:active span {
  opacity: 0.3;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us-info {
  width: 670px;
  margin-right: auto;
}

.about-us-numbers,
.about-us-info {
  min-height: 525px;
}

.about-us-list li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 23px;
}

.about-us-list li::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  top: 12px;
  left: 2px;
}

.about-us-numbers {
  width: 360px;
}

.about-us-lead {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  display: block;
}

.about-us-title,
.numbers-more {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.numbers-more {
  margin-top: 28px;
  margin-bottom: 37px;
  text-align: center;
}

.about-us th {
  font-size: 45px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  padding-right: 11px;
}

.about-us td {
  font-size: 16px;
  line-height: 18px;
  padding-top: 16px;
}

.about-us-lead {
  margin-top: 75px;
  margin-bottom: 33px;
}

.about-us-text {
  margin-bottom: 38px;
}

.about-us-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 70px;
}

.about-us-logo {
  width: 360px;
  height: 208px;
  margin-top: 40px;
}

.clients {
  margin-bottom: 79px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.clients-flex {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-link {
  opacity: 0.2;
}

.clients-link:hover,
.clients-link:focus {
  opacity: 1;
}

.clients-link:active {
  opacity: 0.1;
}

.clients-item {
  position: relative;
  width: 300px;
  min-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-item:nth-child(4n + 1),
.clients-item:nth-child(4n + 4) {
  width: 280px;
}

.clients img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.clients-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #eeeeee;
  width: 2px;
  height: 53px;
}

.clients-item:nth-child(4n + 1) img {
  transform: translate(-10px, 0);
}

.clients-item:nth-child(4n + 4) img {
  transform: translate(10px, 0);
}

.clients-item:first-child img {
  transform: translate(-9px, 5px);
}

.clients-item:nth-child(4) img {
  transform: translate(10px, 2px);
}

.page-footer {
  padding-bottom: 65px;
}

.address {
  background-color: #ffffff;
  padding: 50px;
  padding-bottom: 45px;
  width: 220px;
  position: absolute;
  left: 50%;
  top: 54px;
  margin-left: -580px;
}

.address b {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 23px;
  display: block;
}

.address p {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-right: 10px;
}

.address .address-text {
  margin-bottom: 19px;
}

.address .phone {
  margin-bottom: 35px;
}

.address-button {
  color: #ffffff;
  background-color: #fb565a;
  display: block;
  padding: 16px 44px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
}

.address-button:hover,
.address-button:focus {
  background-color: #d6494d;
}

.contacts {
  background-image: url("../img/group-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #f1efe8;
  height: 416px;
  position: relative;
}

.share-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.share-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 68px;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social {
  background-color: #e1e1e1;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social:hover,
.social:focus {
  background-color: #e74246;
}

.social:active {
  background-color: #d7373b;
  box-shadow: 0 3px #c13135 inset;
}

.social:active svg {
  opacity: 0.3;
}

.friendship {
  margin-top: 75px;
  margin-left: 140px;
}

.friendship b {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.friendship p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
}

.sort-list,
.images-list {
  margin: 0;
  padding: 0;
}

.filters fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filters .filter-item-1 {
  margin-top: 56px;
}

.filters .filter-item-2 {
  margin-top: 23px;
  margin-bottom: 28px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  background-color: #eeeeee;
  padding-top: 41px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  background-color: #ababab;
  position: absolute;
  top: 31px;
  left: 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
  line-height: 38px;
  text-transform: uppercase;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  display: inline-block;
  vertical-align: top;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;
  width: 60px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background: #eeeeee;
  margin-left: 10px;
}

.max-price {
  text-align: right;
}

.range-controls .toggle-min {
  left: 18px;
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 160px;
  cursor: pointer;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0;
  margin-top: 53px;
}

.filters {
  width: 260px;
  padding-top: 5px;
}

.filter-item {
  margin-bottom: 0;
}

.filter-legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 17px;
}

.filter-item-2 .filter-legend {
  margin-bottom: 15px;
}

.legend-price {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 49px;
  letter-spacing: 0.9px;
}

.filter-option {
  margin-bottom: 23px;
  padding-left: 35px;
}

.filter-input + label {
  font-size: 16px;
  line-height: 17px;
  color: #283136;
}

.filter-input + label:hover,
.filter-input + label:focus {
  color: #000000;
}

.filter-option .catalog-label:hover,
.filter-option .catalog-label:focus {
  color: #000000;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
}

.filter-input-radio + label:hover::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: 1;
}

.filter-input-radio:disabled + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.1;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  opacity: 0.4;
}

.filter-input-radio:checked + label:hover::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  opacity: 1;
}

.filter-input-radio:checked + label:disabled::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  opacity: 0.1;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;
}

.filter-input-checkbox + label:hover::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url("../img/checkbox-off.svg");
  opacity: 1;
}

.filter-input-checkbox + label:disabled::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.1;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label:hover::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label:disabled::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-option label {
  display: block;
  position: relative;
}

.filter-button {
  background-color: #eeeeee;
  border: 0;
  padding: 15px 20px;
  min-width: 260px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.button:focus {
  outline: none;
}

.filter-button:active {
  background-color: d5d5d5;
  box-shadow: 0 3px #bfbfbf inset;
}

.filter-button:active span {
  opacity: 0.3;
}

.arrow-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.arrow-list li {
  position: relative;
}

.catalog-arrow-down::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: transparent transparent #f5f5f5 transparent;
  position: absolute;
  top: 5px;
  left: -39px;
}

.catalog-arrow-down:hover::before {
  border-color: #a6a6a6 transparent transparent transparent;
}

.catalog-arrow-down:active::before {
  border-color: #231f20 transparent transparent transparent;
}

.catalog-arrow-active::before {
  border-color: #231f20 transparent transparent transparent;
}

.catalog-arrow-up::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #f5f5f5 transparent;
  position: absolute;
  top: 5px;
  left: -15px;
}

.catalog-arrow-up:hover::before {
  border-color: transparent transparent #a6a6a6 transparent;
}

.catalog-arrow-up:active::before {
  border-color: transparent transparent #231f20 transparent;
}

.main-gallery .list-title {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-gallery ul {
  list-style: none;
}

.main-gallery {
  width: 760px;
}

.sort {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

.sort-list {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 78px;
}

.sort-list li {
  margin-right: 25px;
}

.sort-list li:last-child {
  margin-right: 0;
}

.sort-title {
  margin-top: 0;
  margin-bottom: 0;
}

a:hover.sort {
  opacity: 0.6;
}

.sort-block a.active,
a:focus.sort {
  opacity: 1;
}

.images-pop-up {
  background-color: #eeeeee;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 29px;
  min-height: 230px;
  width: 360px;
  box-sizing: border-box;
  opacity: 0;
  z-index: -1;
}

.images-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  text-align: center;
}

.images-title-link {
  color: #000000;
}

.images-item p {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin: 0;
  padding: 0 65px;
}

.images-item .mishka-text,
.images-item .sedona-text {
  padding: 0 80px;
}

.images-button {
  color: #ffffff;
  background-color: #fb565a;
  border: 0;
  font-weight: 500;
  margin-left: 80px;
  padding: 13px 20px;
  box-sizing: border-box;
  text-align: center;
  min-width: 200px;
  border-radius: 3px;
  margin-top: 27px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.images-button:hover,
.images-button:focus {
  background-color: #e74246;
}

.images-button:active {
  background-color: #d7373b;
  box-shadow: 0 3px #c13135 inset;
}

.images-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.images-item {
  width: 360px;
  height: 576px;
  margin-bottom: 33px;
  position: relative;
  padding-top: 40px;
  position: relative;
}

.pop-up-active,
.images-item:hover .images-pop-up {
  opacity: 1;
  z-index: 1;
}

.images-item::before {
  content: "";
  width: 360px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.images-item-active::before,
.images-item:hover::before {
  opacity: 1;
}

.images {
  padding-bottom: 27px;
}

.images-list .last {
  margin-bottom: 0;
}
.paginator {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
  font-weight: 500;
}

.page-link {
  display: block;
  color: #000000;
  background-color: #eeeeee;
  font-size: 16px;
  line-height: 18px;
  margin-right: 11px;
  padding: 16px 20px;
  border-radius: 2px;
}

.page-link:hover,
.page-link:focus {
  background-color: #dfdfdf;
  color: #000000;
}

.page-link:active {
  background-color: #d5d5d5;
  box-shadow: 0 -3px 0 0 #bfbfbf;
}

.page-link:active span {
  opacity: 0.3;
}

.paginator li:last-child {
  margin-right: 0;
}

.page-link.active {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
  padding: 14px 19px;
}

.page-link.next {
  text-transform: uppercase;
  padding: 16px 20px;
  min-width: 222px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
}

.pop-up {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000000;
  background-color: #ffffff;
  width: 960px;
  box-sizing: border-box;
  padding-top: 68px;
  margin: 0 auto;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
  z-index: 100;
}

.pop-up-close {
  position: absolute;
  top: 77px;
  right: 87px;
  opacity: 0.3;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: none;
  width: 22px;
  height: 22px;
  outline: none;
}

.pop-up-close:hover,
.pop-up-close:focus {
  opacity: 1;
}

.pop-up-close:active {
  opacity: 0.1;
}

.pop-up-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.pop-up-fieldset {
  margin: 0 auto;
  width: 765px;
  border: none;
}

.pop-up-list li {
  margin-bottom: 32px;
}

.name-item {
  margin-right: 39px;
}

.pop-up legend {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 35px;
}

.pop-up label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.pop-up-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 70px;
  color: #ffffff;
  background-color: #fb565a;
  border: 0;
  display: block;
  width: 260px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 3px;
 }

.pop-up-button:hover,
.pop-up-button:focus {
  outline: none;
  background-color: #d6494d;
}

.pop-up-textarea {
  width: 759px;
  min-height: 115px;
  border: 2px solid #d7dcde;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
}

.write-us label {
  display: block;
  margin-bottom: 10px;
}

.pop-up-input {
  width: 360px;
  height: 46px;
  padding-left: 12px;
  box-sizing: border-box;
  border: 2px solid #d7dcde;
}

::-webkit-input-placeholder {
  opacity: 0.5;
}

::-moz-placeholder {
  opacity: 0.5;
}/* Firefox 19+ */

:-moz-placeholder {
  opacity: 0.5;
}

/* Firefox 18- */
:-ms-input-placeholder {
  opacity: 0.5;
}

.pop-up-input:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
.pop-up-input:focus::-moz-placeholder {
  opacity: 0.5;
}

.pop-up-input:focus:-moz-placeholder {
  opacity: 0.5;
}

.pop-up-input:focus:-ms-input-placeholder {
  opacity: 0.5;
}

.pop-up-label,
.pop-up-input,
.pop-up-textarea {
  font-size: 16px;
  line-height: 18px;
}

.pop-up-input:hover,
.pop-up-textarea:hover {
  border-color: #b4b9bb;
}

.pop-up-input:focus,
.pop-up-label:focus,
.pop-up-textarea:focus {
  border-color: #000000;
  outline: 0;
  color: #444444;
}

.pop-up-input:invalid,
.pop-up-label:invalid,
.pop-up-textarea:invalid {
  color: #e74246;
}

